.div{
  height: 300px;
  width: 250px;
  border: 1px solid grey;
}
body{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  height: 100vh;
  gap: 20px;
}
#content{
  display: flex;
  flex-direction: column;
}